
p:hover
{
    
    background-color:rgb(231, 150, 231);
    text-indent: 10px ;
}

a:hover
{
    color: green;text-combine-upright:underline;
}
a:visited
{
    color: grey ;
}

.margin1{
    width: 15%;
    height:600px ;
    margin-left: 10px ;
    background-color:rgb(252, 189, 15) ;
    text-align: center ;
}
.margin2{
    width: 30%;
    height:600px ;
    margin-left:230px ;
    margin-top: -600px;
    background-color:rgb(207, 195, 195) ;
}

.margin3{
    margin: 100px ;
}

head
{
    text-align:justify ;
    text-transform: capitalize;
}

