h1 , h3
{
    color: #ff6600 ;
}
p
{
    color: gray;
}
a 
{
    color: red;text-decoration: none;
}
a:hover
{
    color: green;text-combine-upright:underline;
}
a:visited
{
    color: grey ;
}
h4
{
    color: skyblue;
}